.paragraph {
	text-align: left;
}

.ulist {
	text-align: left;
}

.center-paragraph {
	text-align: center;
}

.smaller-80 {
	font-size: 80%;
}

.smaller-60 {
	font-size: 60%;
}

.smaller-40 {
	font-size: 40%;
}

.smaller-30 {
	font-size: 30%;
}


.smaller-20 {
	font-size: 20%;
}

.left {
	float: left;
}

.left-90 {
	float: left;
  	width: 90%;
}

.left-80 {
	float: left;
  	width: 80%;
}

.left-70 {
	float: left;
  	width: 70%;
}

.left-60 {
	float: left;
  	width: 60%;
}

.left-50 {
	float: left;
  	width: 50%;
}

.left-40 {
	float: left;
  	width: 40%;
}

.left-30 {
	float: left;
  	width: 30%;
}

.right {
	float: right;
}

.right-80 {
	float: right;
  	width: 80%;
}

.right-70 {
	float: right;
  	width: 70%;
}

.right-60 {
	float: right;
  	width: 60%;
}

.right-50 {
	float: right;
  	width: 50%;
}

.right-40 {
	float: right;
  	width: 40%;
}

.right-30 {
	float: right;
  	width: 30%;
}

section h2 {
	grid-area: slide-title;
}

.reveal h2 {
	text-transform: none;
}

.width-10 {
	width: 10%;
}
.width-20 {
	width: 20%;
}
.width-30 {
	width: 30%;
}
.width-40 {
	width: 40%;
}
.width-50 {
	width: 50%;
}
.width-60 {
	width: 60%;
}
.width-70 {
	width: 70%;
}
.width-80 {
	width: 80%;
}
.width-90 {
	width: 90%;
}

.grid-left-right {
	display: grid !important;
	grid-template-areas: 'slide-title slide-title' 'left right';
}
.grid-left-right-50-50 {
	display: grid !important;
	grid-template-areas: 'slide-title slide-title' 'left right';
	grid-template-columns: 50% 50%
}

.area-left {
	grid-area: left;
}
.area-right {
	grid-area: right;
}

.grid-compass {
	display: grid !important;
	grid-template-areas: 'slide-title slide-title slide-title' 'north-west north north-east' 'west middle east' 'south-west south south-east'; 
}

.area-north-west {
	grid-area: north-west;
}
.area-north {
	grid-area: north;
}
.area-north-east {
	grid-area: north-east;
}
.area-west {
	grid-area: west;
}
.area-east {
	grid-area: east;
}
.area-south-west {
	grid-area: south-west;
}
.area-south {
	grid-area: south;
}
.area-south-east {
	grid-area: south-east;
}

/* solution for footer based on http://blog.schauderhaft.de/2018/07/23/footer-in-revealjs-from-asciidoc/ */
 .footer {
	position: absolute;
   	display: table;
   	width: 100%;
   	bottom: 0;
   	height: 40px;
   	background-color: #124990;
	border-top: 2px solid  #fff6d5;
 }
    
 .footer span {
   	display: table-cell;
   	color: #fff6d5;
   	padding: 0px 15px 5px;
   	 
   	text-align: left;
   	font-family: "Verdana", sans-serif;
   	font-size: 55%;
	vertical-align: middle;
 }
    
 .footer span:nth-of-type(1) {
   	text-align: left;
 }

 .footer span:nth-last-child(1) {
   	text-align: right;
 }

.footer-logo{
	vertical-align: middle;
	    margin-top: 5px;
}


.main-logo{
	position: relative;
   	display: block;
    border: none  !important;
    box-shadow: none  !important;
}


.vertical-ntnu-name {
	position: absolute;
	height: 100%;
	right: 5px;
	vertical-align: middle;
}

.vertical-ntnu-name img {
	display: inline;
	vertical-align: middle;
	border: none !important;
	box-shadow: none !important;
}

.vertical-ntnu-name span.vertical-ntnu-text {
	display: inline;
	vertical-align: middle;
	border: none !important;
	box-shadow: none !important;	
}


.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* body div.reveal {
	margin-bottom: 40px !important;
} */

.line-through
{
	text-decoration:line-through
}